.discord{
    display: flex;
    font-size: 26px;
    justify-content: center;
}
.canal{
    display: flex;
    font-size: 26px;
    justify-content: center;
    text-decoration: none;
}
    
.bot{
    display: flex;
    font-size: 26px;
    justify-content: center;
    text-decoration: none;
}

.number-phone{
    display: flex;
    font-size: 26px;
    justify-content: center;
}
.final-project{
    display: flex;
    font-size: 26px;
    justify-content: center;
    
}
.pon{
    text-decoration: none;
    color: #000000;
}
.botinok{
    text-decoration: none;
    color: #000000;
}
.telega-canal{
    text-decoration: none;
    color: #000000;
}
